* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url('219119.gif');
    background-size: cover;
}

img {
    right: auto;
    width: 100px;
    height: 100x;
    
}
.glass-container {
    width: 900px;
    height: 900px;
    position: relative;
    z-index: 1;
    background: rgba(190, 188, 190, 0.685);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #fff;
}
.glass-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: -1;
}
.login-box {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
}
h1 {
    color: #f8f8f8;
    margin-top: 30px;
    margin-bottom: -20px;
}
h2 {
    color: #f8f8f8;
    
    left: auto;
  width: 270px;
  height: 120px;
}
h2 {
    color: #f8f8f8;
    
    left: auto;
  width: 270px;
  height: 120px;
}
h2 {
    color: #f8f8f8;
    
    left: auto;
  width: 270px;
  height: 120px;
}
h2 {
    color: #f8f8f8;
    
    left: auto;
  width: 270px;
  height: 120px;
}
h2 {
    color: #f8f8f8;
    
    left: auto;
  width: 270px;
  height: 120px;
}
h2 {
    color: #f8f8f8;
    
    left: auto;
  width: 270px;
  height: 120px;
}
form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
input {
    padding: 10px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #9692d1;
    color: #858794;
    font-size: 13px;
}
input::placeholder {
    color: #b1a9ce;
}
input:focus {
    outline: none;
}
.options {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 12px;
    color: rgb(131, 123, 150);
}
.options input {
    margin-right: 5px;
    margin-top: 0px;
}
.options a {
    text-decoration: none;
    color: rgb(165, 149, 190);
    margin-left: auto;
}
button {
    background: #fff;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}
button:hover {
    background: transparent;
    color: rgb(183, 172, 212);
    outline: 1px solid #908da5;
}
p {
    font-size: 12px;
    color: #aba3da;
    margin-top: 15px;
}
#register {
    text-decoration: none;
    color: #9488bd;
    font-weight: bold;
}